:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
}

body {
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

.header {
  background-image: url("images/bg-main-mobile.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 20rem;
}
.header .card {
  display: flex;
  border-radius: 0.7rem;
  width: 26rem;
  overflow: hidden;
  position: absolute;
}
.header .card img {
  width: 100%;
}
.header .card .informations {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: hsl(270, 3%, 87%);
}
.header .card.backside {
  right: 5%;
  top: 10%;
  animation: happyCardUp 400ms ease backwards 1.75s paused;
}
.header .card.backside .informations-cvc {
  position: absolute;
  right: 12%;
  top: 43.5%;
  font-size: 1.2rem;
  color: #2f2f2f;
}
.header .card.frontside {
  bottom: -20%;
  left: 5%;
  box-shadow: 0 1rem 2rem -1rem hsla(278, 68%, 11%, 0.5);
  animation: happyCardDown 400ms ease backwards 2s paused;
}
.header .card.frontside .circle {
  background: hsl(270, 3%, 87%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: relative;
}
.header .card.frontside .circle::before {
  content: "";
  width: 38%;
  height: 38%;
  border: 1px solid hsl(270, 3%, 87%);
  position: absolute;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.header .card.frontside .informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.header .card.frontside .informations-texts .card-number {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.header .card.frontside .informations-texts .sub-informations {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.header .card.frontside .informations-texts .sub-informations .expiration-date {
  display: flex;
}

.main {
  padding: 8rem 2rem 3rem;
  display: grid;
  place-items: center;
}
.main .limiter {
  width: 100%;
  max-width: 30rem;
}
.main .limiter .confirm {
  font-family: inherit;
  color: hsl(270, 3%, 87%);
  background: hsl(278, 68%, 11%);
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  padding: 1.25rem 0;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: transform 150ms ease;
  width: 100%;
}
.main .limiter .confirm:hover {
  background: hsl(278, 68%, 18%);
  transform: scale(1.02);
}
.main .limiter .confirm:focus-within {
  background: hsl(278, 68%, 18%);
  outline: 0.4rem solid hsla(249, 99%, 64%, 0.5);
}
.main .limiter .register {
  display: none;
  animation: fallOut 250ms ease backwards paused;
}
.main .limiter .register form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.main .limiter .register form label {
  display: block;
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}
.main .limiter .register form input {
  outline: none;
  border: none;
  font-size: 1.4rem;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.main .limiter .register form input::-moz-placeholder {
  color: hsl(279, 6%, 55%);
  font-size: 1.4rem;
}
.main .limiter .register form input::placeholder {
  color: hsl(279, 6%, 55%);
  font-size: 1.4rem;
}
.main .limiter .register form input[type=text], .main .limiter .register form input[type=number] {
  font-family: inherit;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: hsl(278, 68%, 11%);
}
.main .limiter .register form input::-webkit-outer-spin-button, .main .limiter .register form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .limiter .register form input[type=number] {
  -moz-appearance: textfield;
}
.main .limiter .register form .input-border {
  display: flex;
  background: hsl(270, 3%, 87%);
  padding: 0.1rem;
  border-radius: 0.6rem;
  margin: 0.6rem 0;
}
.main .limiter .register form .input-border:focus-within {
  background: linear-gradient(to left, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}
.main .limiter .register form .text-error {
  display: none;
  font-size: 1.2rem;
  color: hsl(0, 100%, 66%);
  position: absolute;
}
.main .limiter .register form .error .input-border {
  background: hsl(0, 100%, 66%);
}
.main .limiter .register form .error .text-error {
  display: block;
}
.main .limiter .register form .inputs-wrapper {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.main .limiter .register form .inputs-wrapper .left-wrapper,
.main .limiter .register form .inputs-wrapper .right-wrapper {
  width: 50%;
}
.main .limiter .register form .inputs-wrapper .left-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "label label" "mmInput yyInput";
  grid-column-gap: 0.5rem;
}
.main .limiter .register form .inputs-wrapper .left-wrapper label {
  grid-area: label;
}
.main .limiter .register form .inputs-wrapper .left-wrapper .text-error {
  bottom: -1.53rem;
}
.main .limiter .finish {
  display: none;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  text-align: center;
  animation: opacityIn 400ms ease backwards;
}
.main .limiter .finish .checkmark-icon {
  width: 8rem;
  animation: fallInCheckmark 1s ease backwards 300ms;
}
.main .limiter .finish .texts {
  animation: opacityIn 400ms ease backwards 1.25s;
}
.main .limiter .finish .texts .congratulations {
  letter-spacing: 0.3rem;
  color: hsl(278, 68%, 18%);
  margin-bottom: 1rem;
  font-size: 2.2rem;
}
.main .limiter .finish .texts .summary {
  color: hsl(279, 6%, 55%);
  font-size: 1.4rem;
}
.main .limiter .finish .confirm {
  animation: opacityIn 400ms ease backwards 1.25s;
}
.main[data-current-screen=register] .register {
  display: block;
}
.main[data-current-screen=finish] .finish {
  display: flex;
}

@media screen and (min-width: 375px) {
  .header .card {
    border-radius: 0.7rem;
    width: 28rem;
  }
  .header .card.frontside {
    bottom: -27%;
  }
  .header .card.frontside .circle {
    width: 3rem;
    height: 3rem;
  }
  .header .card.frontside .circle::before {
    content: "";
    width: 40%;
    height: 40%;
    right: -2.3rem;
  }
  .header .card.frontside .informations-texts .card-number {
    font-size: 1.9rem;
  }
  .main {
    padding: 10rem 2rem 3rem;
  }
  .main .limiter {
    max-width: 32rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    background-position: top center;
    height: 24rem;
  }
  .header .card {
    border-radius: 0.7rem;
    width: 30rem;
    position: relative;
  }
  .header .card.backside {
    right: 0;
    top: 0;
    order: 2;
  }
  .header .card.frontside {
    bottom: 0;
    left: 0;
    order: 1;
  }
  .header .card.frontside .circle {
    width: 3.4rem;
    height: 3.4rem;
  }
  .header .card.frontside .circle::before {
    width: 38%;
    height: 38%;
    right: -2.5rem;
  }
  .header .card.frontside .informations-texts .card-number {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }
  .main {
    padding: 6rem 2rem 3rem;
  }
  .main .limiter {
    width: 100%;
    max-width: 40rem;
  }
  .main .limiter .register form {
    row-gap: 2rem;
  }
  .main .limiter .register form label {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }
  .main .limiter .register form input {
    font-size: 1.6rem;
  }
  .main .limiter .register form input::-moz-placeholder {
    font-size: 1.8rem;
  }
  .main .limiter .register form input::placeholder {
    font-size: 1.8rem;
  }
  .main .limiter .register form input[type=text], .main .limiter .register form input[type=number] {
    padding: 1rem 2rem;
  }
  .main .limiter .register form .text-error {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .header {
    background-image: url("images/bg-main-desktop.png");
    height: 100%;
    flex-direction: column;
  }
  .header .card {
    width: 36rem;
    margin: 1rem;
    box-shadow: 0 1rem 2rem -1rem hsla(278, 68%, 11%, 0.25);
  }
  .header .card.backside {
    right: -40%;
    top: 0;
  }
  .header .card.backside .informations-cvc {
    right: 12%;
    top: 45.25%;
    font-size: 1.4rem;
  }
  .header .card.frontside {
    bottom: 0;
    left: 25%;
  }
  .header .card.frontside .circle {
    width: 4rem;
    height: 4rem;
  }
  .header .card.frontside .circle::before {
    width: 38%;
    height: 38%;
    right: -3rem;
  }
  .header .card.frontside .informations {
    padding: 2.5rem;
  }
  .header .card.frontside .informations-texts .card-number {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
  }
  .header .card.frontside .informations-texts .sub-informations {
    font-weight: 600;
  }
  .main .limiter {
    max-width: 30rem;
  }
  .main .limiter .register form {
    row-gap: 2.5rem;
    animation: opacityIn 0.5s ease backwards;
  }
  .main .limiter .register form label {
    font-size: 1rem;
  }
  .main .limiter .register form input {
    font-size: 1.4rem;
  }
  .main .limiter .register form input::-moz-placeholder {
    font-size: 1.4rem;
  }
  .main .limiter .register form input::placeholder {
    font-size: 1.4rem;
  }
  .main .limiter .register form input[type=text], .main .limiter .register form input[type=number] {
    padding: 0.75rem 1rem;
  }
  .main .limiter .register form .text-error {
    font-size: 1.2rem;
  }
  .main .limiter .finish .checkmark-icon {
    width: 6rem;
  }
}
@keyframes opacityIn {
  from {
    opacity: 0;
  }
}
@keyframes opacityOut {
  to {
    opacity: 0;
  }
}

@keyframes fallOut {
  to {
    transform: scale(0.98);
    opacity: 0;
  }
}
@keyframes fallInCheckmark {
  from {
    opacity: 0;
    transform: scale(2) rotateZ(197deg);
  }
}
@keyframes happyCardUp {
  50% {
    transform: translateY(-5%);
  }
}
@keyframes happyCardDown {
  50% {
    transform: translateY(5%);
  }
}/*# sourceMappingURL=index.css.map */